<script>
  function doSomething() { 
    alert('i will do nothing!')
  }
</script>

<div id="card">
  <h1 class="title">My Title</h1>
  <hr>
  <div>Here i stand</div>
  <hr>
  <input type="text" name="fname">
  <input type="text" name="fname" placeholder="i am a placeholder">
  <button id="okButton" class="oldClass badClass" onclick="doSomething()">Press me</button>
</div>

<div id="footer">
  I am a very disappointing footer. Do not import me
</div>

<style>
  oldClass {background: red;}
  footer {
    font-size: large; 
    color: green;
    }
</style>