<script>
	import { onMount } from 'svelte';
  export let okAction
	/* Custom code */
	let name;
  let title = 'The new card title'
	do_import('footer', (module) => {
		name = module.getName();
	});
	onMount(async () => {
		await do_execute('header')
		greet('user');
		let { getName } = await do_import('footer');
		console.log(getName())
	})
</script>

<style>
	/* Adds the corresponding CSS */
  #title { background: #ddd }
	@do-insert "footer";
</style>

<b id="title">Title</b>

<do-import src="./template1.html" as="header"></do-import>
<do-import src="./card.html" as="card"></do-import>
<do-insert select="#card" from="card">
  <do-replace find="#card .title">{title}</do-replace>
  <do-replace select="input" as="source">
    <MyInput placeholder={source.placeholder}>{source.name}</MyInput>
  </do-replace>
  <do-replace select="#okButton" as="okButton">
    {#if okAction}
      <do-insert reference="okButton">
        <do-set on:click="{() => okAction}"></do-set>
      </do-insert>
    {/if}
  </do-replace>
  <do-manipulate select="#okButton">
    <do-set class="{classes} newClass"></do-set>
    <do-set style="background-color: green;"></do-set>
  </do-manipulate>
</do-insert>

<do-import src="./template2.html" as="footer"></do-import>

<h1>Hello {name}!</h1>