<script>
  function doSomethingFooter() { 
    console.log('i am a message from the footer')
  }
</script>

<div id="footer">
  <a href="www.svelte.dev">This is svelte</a>
  <a href="/impressum">Impressum</a>
</div>

<style>
  oldClass {background: red;}
  footer {
    font-size: large; 
    color: green;
    }
</style>